<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"> <head> <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> <title>Freemo, créateur de lien social
</title> <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300,400' rel='stylesheet' type='text/css'/> <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/> 
</head> <body style="margin: 0; padding: 0; min-width: 100%!important;"> <table width="100%" bgcolor="#ececec" border="0" cellpadding="0" cellspacing="0"> <tr> <td> <table class="content" align="center" cellpadding="0" cellspacing="0" border="0" style="width: 100%; max-width: 600px;background-color:white;"> <tr> <td width="600px" style="padding: 0px 70px 0px 70px;background-color:#ececec;" colspan="2"> <p style="text-align:center;color: #c4c4c4;font-family: 'Open Sans', sans-serif;font-size:10px;">Du mal à afficher le mail correctement ? <a href="http://www.freemo.blue/email/email_1/index-min.html">Visualiser la version en ligne
</a>
</p>
</td>
</tr><tr> <td width="600" height="30px" align="center" style="background-color: white;padding: 0px 0px 0px 20px;" colspan="2"> <a href="www.freemo.blue"><img src="http://www.freemo.blue/email/email_1/img/logo.png" border="0" alt="Freemo"/>
</a> 
</td>
</tr><tr> <td width="600px" height="30" style="background-color: #02abc9 ;text-align:center;color: white;font-size:10px;" colspan="2"> <h2 style="font-family: 'Open Sans', sans-serif; font-weight: 100;">Créateur de lien social
</h2> 
</td>
</tr><tr> <td width="600px" height="150" style="background-color: white; padding: 0px 20px 0px 20px;color:#888888;" colspan="2"> <p style="font-family: 'Open Sans', sans-serif; font-size:14px;">Vous faites partie des premiers inscris sur l’application Freemo !<br/> A présent, vous pourrez rapidement déclarer un incident dans votre immeuble, proposer vos services, vendre des biens etc...<br/><br/> Merci de votre confiance, bonne utilisation et n’hésitez pas à partager autour de vous !
</p>
</td>
</tr><tr> <td width="600px" align="center" style="padding: 20px 150px 20px 150px;background-color:white;" colspan="2"> <a href="https://www.facebook.com/FreemoApp?ref=ts&fref=ts" target="_blank" style="text-decoration:none;" > <img src="http://www.freemo.blue/email/email_1/img/fb.png" border="0" alt="facebook"/> 
</a> <a href="https://twitter.com/FreemoApp" target="_blank" style="text-decoration:none;" > <img src="http://www.freemo.blue/email/email_1/img/tw.png" border="0" alt="twitter"/> 
</a> 
</td>
</tr><tr> <td width="600" colspan="2"> <img src="http://www.freemo.blue/email/email_1/img/phone.jpg" width="600" border="0" alt="Freemo mockup"/> 
</td>
</tr><tr> <td width="600" height="100" style="background-color: white; padding: 0px 20px 0px 20px;color:#888888;" colspan="2"> <p style="font-family: 'Open Sans', sans-serif; font-size:14px;">Freemo est ludique, ergonomique et gratuite.<br/><br/> Télécharger l'application sur le Playstore ou l'Appstore et devenez acteur de votre consommation. Actuellement expérimentée sur Limoges, Freemo compte bien vous accompagner partout en France d'ici peu de temps.<br/> 
</p>
</td>
</tr><tr> <td style="padding:20px 18px 23px 18px;" align="center"> <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate!important;border:2px solid #02abc9;"> <tbody> <tr> <td align="center" valign="middle" style="font-family: 'Open Sans', sans-serif;font-size:14px;padding:10px;"> <a title="Visitez notre site" href="www.freemo.blue" style="color:#02abc9;;font-weight:bold;letter-spacing:normal;line-height:100%;text-align:center;text-decoration:none;word-wrap:break-word;" target="_blank">Visitez notre site
</a> 
</td>
</tr>
</tbody> 
</table> 
</td>
</tr><tr> <td width="600" colspan="2"> <img src="http://www.freemo.blue/email/email_1/img/hand.jpg" width="600" border="0" alt="Freemo l'application"/> 
</td>
</tr><tr> <td width="600" height="100" align="center" style="background-color: white; padding: 20px 20px 0px 20px;color:#888888;" colspan="2"> <p style="font-family: 'Open Sans', sans-serif; font-size:14px;">Aidez nous à développer l'application ! <br><br>Cliquez sur le lien ci-dessous pour obtenir le flyer Freemo que vous pourrez afficher dans votre immeuble ! <br>
</p>
</td>
</tr><tr> <td style="padding:20px 18px 18px 18px;" align="center"> <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate!important;border:2px solid #02abc9;"> <tbody> <tr> <td align="center" valign="middle" style="font-family: 'Open Sans', sans-serif;font-size:14px;padding:10px;"> <a title="Télécharger" href="http://www.freemo.blue/email/email_1/img/flyer.pdf" style="color:#02abc9;;font-weight:bold;letter-spacing:normal;line-height:100%;text-align:center;text-decoration:none;word-wrap:break-word;" target="_blank">Télécharger
</a> 
</td>
</tr>
</tbody> 
</table> 
</td>
</tr><tr> <td width="600px" style="padding: 0px 70px 0px 70px;background-color: #02abc9 ;text-align:center;color: white; " colspan="2"> <p style="text-align:center;font-family: 'Open Sans', sans-serif;font-size:12px;">Toute l'équipe communication de Freemo est à votre disposition par email à contact@freemo.blue ou par téléphone au 09.86.26.16.95.
</p>
</td>
</tr><tr> <td width="600px" align="center" style="padding: 20px 150px 20px 150px;background-color:#ececec;" colspan="2"> <a href="https://www.facebook.com/FreemoApp?ref=ts&fref=ts" target="_blank" style="text-decoration:none;" > <img src="http://www.freemo.blue/email/email_1/img/fb.png" border="0" alt="facebook"/> 
</a> <a href="https://twitter.com/FreemoApp" target="_blank" style="text-decoration:none;" > <img src="http://www.freemo.blue/email/email_1/img/tw.png" border="0" alt="twitter"/> 
</a> <h3 style="text-align:center;color: #a5a5a5;font-family: 'Open Sans', sans-serif;font-size:11px;" >MENTIONS LEGALES
</h3> <p style="text-align:center;color: #c4c4c4;font-family: 'Open Sans', sans-serif;font-size:10px;">FREEMO SAS AU CAPITAL DE 30.080 EUROS - RCS LYON 802 503 72gm6 | Siège social : Freemo , 5 rue de la claire 69009 LYON
</p>
</td>
</tr>
</table> 
</td>
</tr>
</table> 
</body>
</html> 